<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>Fields</mat-card-title>

    <span class="flex-1-auto"></span>

    <a mat-flat-button color="primary" class="view-button" [routerLink]="['/fields/modify']"
      (click)="awareness.setFocused('mfield', '')">
      * New Field
    </a>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-label>Search</mat-label>
      <input type="string" matInput [(ngModel)]="FilterMField.MFilter.mf_search" (change)="loadComposite()" />
    </mat-form-field>

    <mat-card class="b-1 shadow-none view-card" *ngFor="let SeekMField of CompositeMFields">
      <mat-card-content>
        <a mat-stroked-button color="warn" class="view-button view-float--right"
          (click)="removeInstance(SeekMField._id)">
          Remove
        </a>

        <a mat-stroked-button color="primary" class="view-button view-float--right" [routerLink]="['/fields/modify']"
          (click)="awareness.setFocused('mfield', SeekMField._id)">
          Edit
        </a>

        <a mat-stroked-button color="primary" class="view-button view-float--right"
          [routerLink]="['/mfield_options/composite']" (click)="awareness.setFocused('mfield', SeekMField._id)"
          *ngIf="(SeekMField.CFields.values['field_type']['field_value'][0] == 'single_select') || (SeekMField.CFields.values['field_type']['field_value'][0] == 'multiple_select')">
          Field Options
        </a>

        <p class="view-text--size-large">
          {{ SeekMField.CFields.values['field_label']['field_value'] }}
          ({{ SeekMField.CFields.values['field_type']['field_value'][0] }})
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>