<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>
      Form
    </mat-card-title>

    <mat-card-subtitle>
      <p>{{MFormInstance._id == '' ? 'Create' : 'Edit'}}</p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="m-t-30" name="form_user" id="form_mform_modify" #ModifyMField="ngForm" (ngSubmit)="submitInstance()">
      <app-cfields [CFields]="MFormInstance.CFields"></app-cfields>

      <div class="view-align--right">
        <span class="flex-1-auto"></span>

        <i-tabler *ngIf="MFormInstance._action_result" class="view-icon--inline view-color--green"
          name="circle-check-filled"></i-tabler>

        <mat-spinner *ngIf="MFormInstance._processing" class="view-spinner--inline"></mat-spinner>

        <button type="submit" mat-flat-button color="primary" class="view-button">
          {{MFormInstance._id == '' ? 'Create' : 'Update'}}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>