<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title> {{ FocusedMForm._id != "" ? FocusedMForm.CFields.values['form_label']['field_value'] : '' }}
    </mat-card-title>

    <mat-card-subtitle>
      <p>Data</p>
    </mat-card-subtitle>

    <span class="flex-1-auto"></span>

    <a mat-flat-button color="primary" class="view-button" [routerLink]="['/mform_data/modify']"
      (click)="awareness.setFocused('dform', '')">
      * New Record
    </a>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-label>Search</mat-label>
      <input type="string" matInput [(ngModel)]="FilterDForm.MFilter.mf_search" (change)="loadComposite()" />
    </mat-form-field>

    <mat-card class="b-1 shadow-none view-card" *ngFor="let SeekDForm of DForms">
      <mat-card-content>
        <a mat-stroked-button color="warn" class="view-button view-float--right"
          (click)="removeInstance(SeekDForm._id)">
          Remove
        </a>

        <a mat-stroked-button color="primary" class="view-button view-float--right"
          [routerLink]="['/mform_data/modify']" (click)="awareness.setFocused('dform', SeekDForm._id)">
          Edit
        </a>

        <div class="view-text--size-large" *ngFor="let key of SeekDForm.DFieldsKeys">
          <div class="view--text-title">
            <div class="text">{{SeekDForm.DFields[key]['df_label']}}</div>
            <label class="title">Label</label>
          </div>

          <div class="view--text-title">
            <div class="text">{{SeekDForm.DFields[key]['df_value']}}</div>
            <label class="title">Value</label>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>