<div style="width: 100%; display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;">
  <div style="width: 50%; display: flex; align-items: center; justify-content: center;">
    <div
      style="width: 567px; height: 140px;  flex-shrink: 0; background-image: url('assets/images/logos/logo-moh.png');  background-size: contain; background-repeat: no-repeat;">
    </div>
  </div>
  <div style="width: 50%; display: flex; align-items: center; justify-content: center;">
    <div style="display: block; width: fit-content;height: fit-content;">
      <p
        style="color: #FFF; /* Body/bold */ font-family: Lato; font-size: 18px; font-style: normal; font-weight: 700; line-height: 32px; /* 177.778% */">
        Help & Support</p>
      <p
        style="color: #FFF; /* Body/bold */ font-family: Lato; font-size: 18px; font-style: normal; font-weight: 700; line-height: 32px; /* 177.778% */">
        Terms
        and Conditions</p>
    </div>

  </div>
</div>
<div style="text-align: center; color: whitesmoke;">
  <p>@ 2024 Division of Disease Surveillance. All rights reserved</p>
</div>
