<style>
  mat-form-field {
    margin-bottom: 20px;
  }

  mat-card-content {
    padding-top: 10px;
  }

  .view-border--dashed {
    border: dashed 2px rgb(240, 240, 240);
    border-radius: 15px;
    margin: 5px;
  }
</style>

<form class="m-t-30" name="form_user" id="mform_data_modify" #ModifyMFormData="ngForm" (ngSubmit)="submitInstance()">
  <mat-card class="cardWithShadow">
    <mat-card-header>
      <mat-card-title>
        <h3>{{FocusedMForm.DFormInstance._id == '' ? 'Create' : 'Edit'}}</h3>
      </mat-card-title>
    </mat-card-header>

    <div class="view-border--dashed">
      <mat-card-content>
        <app-ffields [FFields]="FocusedMForm.FFields"></app-ffields>
      </mat-card-content>
    </div>
  </mat-card>

  <mat-card class="cardWithShadow" *ngFor="let FFormKey of FocusedMForm.FFormKeys">
    <div *ngFor="let SeekFForm of FocusedMForm.FForms[FFormKey]; index as position" class="view-border--dashed">
      <mat-card-header>
        <mat-card-title>
          <h3>{{SeekFForm.CFields.values['form_label']['field_value']}}</h3>
        </mat-card-title>

        <span class="flex-1-auto"></span>

        <a *ngIf="(position == 0) && (SeekFForm.CFields.values['form_repeatable']['field_value'][0]['value'])"
          mat-stroked-button color="primary" class="view-button" (click)="addFFormGroup(SeekFForm)">
          Repeat Group
        </a>

        <a *ngIf="position > 0" mat-stroked-button color="warn" class="view-button"
          (click)="removeFFormGroup(SeekFForm._id, position)">
          Remove Group
        </a>
      </mat-card-header>

      <mat-card-content>
        <app-ffields [FFields]="SeekFForm.FFields"></app-ffields>
      </mat-card-content>
    </div>
  </mat-card>

  <div class="view-float--right">
    <i-tabler *ngIf="FocusedMForm.DFormInstance.MStatus.ms_action_result" class="view-icon--inline view-color--green"
      name="circle-check-filled"></i-tabler>

    <mat-spinner *ngIf="FocusedMForm.DFormInstance.MStatus.ms_processing" class="view-spinner--inline"></mat-spinner>

    <button type="submit" mat-flat-button color="primary" class="view-button">
      {{FocusedMForm.DFormInstance._id == '' ? 'Create' : 'Update'}}
    </button>
  </div>
</form>