<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>
      Forms
    </mat-card-title>

    <span class="flex-1-auto"></span>

    <a mat-flat-button color="primary" class="view-button" [routerLink]="['/mforms/modify']"
      (click)="awareness.setFocused('mform', '')">
      * New Form
    </a>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-label>Search</mat-label>
      <input type="string" matInput [(ngModel)]="FilterMForm.MFilter.mf_search" (change)="loadComposite()" />
    </mat-form-field>

    <mat-card class="b-1 shadow-none view-card" *ngFor="let SeekMForm of CompositeMForms">
      <mat-card-content class="b-t-1">
        <a mat-stroked-button color="warn" class="view-button view-float--right"
          (click)="removeInstance(SeekMForm._id)">
          Remove
        </a>

        <a mat-stroked-button color="primary" class="view-button view-float--right"
          [routerLink]="['/mform_forms/composite']" (click)="awareness.setFocused('mform', SeekMForm._id)">
          Forms
        </a>

        <a mat-stroked-button color="primary" class="view-button view-float--right"
          [routerLink]="['/mform_fields/composite']" (click)="awareness.setFocused('mform', SeekMForm._id)">
          Fields
        </a>

        <a mat-stroked-button color="primary" class="view-button view-float--right" [routerLink]="['/mforms/modify']"
          (click)="awareness.setFocused('mform', SeekMForm._id)">
          Edit
        </a>

        <a mat-stroked-button color="primary" class="view-button view-float--right"
          [routerLink]="['/mform_data/composite']" (click)="awareness.setFocused('mform', SeekMForm._id)">
          Data
        </a>

        <p class="view-text--size-large">
          {{ SeekMForm.CFields.values['form_label']['field_value'] }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>