<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>Thresholds</mat-card-title>

    <span class="flex-1-auto"></span>

    <a [routerLink]="['/thresholds/modify']" mat-flat-button color="primary" class="view-button"
       (click)="awareness.setFocused('threshold', '')">
      Create Threshold
    </a>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-label>Search</mat-label>
      <input type="string" matInput [(ngModel)]="FilterThresholds.MFilter.mf_search" (change)="loadComposite()" />
    </mat-form-field>

    <mat-card class="b-1 shadow-none view-card" *ngFor="let Threshold of Thresholds">
      <mat-card-content>
        <a mat-stroked-button color="warn" class="view-button view-float--right" (click) = "deleteInstance(Thresholds)">
          Delete
        </a>

        <a mat-stroked-button color="primary" class="view-button view-float--right" [routerLink]="['/thresholds/modify']"
           (click)="awareness.setFocused('threshold', Threshold._id)">
          Edit
        </a>


        <p class="view-text--size-large">
          {{ Threshold.threshold_name }}
          ({{ Threshold.threshold_limit }})
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
