<div *ngFor="let cfield_key of CFields.keys">
  <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
    {{ CFields.values[cfield_key].field_label }}
  </mat-label>

  <!-- String -->
  <div *ngIf="CFields.values[cfield_key].field_type.value == 'string'">
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input type="string" matInput [formControl]="CFields.values[cfield_key].field_form_control"
        [(ngModel)]="CFields.values[cfield_key].field_value" />

      <mat-error *ngIf="CFields.values[cfield_key].field_form_control.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Single Select -->
  <div *ngIf="CFields.values[cfield_key].field_type.value == 'single_select'">
    <mat-selection-list [formControl]="CFields.values[cfield_key].field_form_control" [multiple]="false"
      [(ngModel)]="CFields.values[cfield_key].field_value">
      <mat-list-option [selected]="field_option.selected"
        *ngFor="let field_option of CFields.values[cfield_key].field_options" [value]="field_option"
        class="b-1 m-b-12 view-border-radius--30">
        {{ field_option.label }}
      </mat-list-option>

      <mat-error *ngIf="CFields.values[cfield_key].field_form_control.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-selection-list>
  </div>

  <!-- Multiple Select -->
  <div *ngIf="CFields.values[cfield_key].field_type.value == 'multiple_select'">
    <mat-selection-list [formControl]="CFields.values[cfield_key].field_form_control" [multiple]="true"
      [(ngModel)]="CFields.values[cfield_key].field_value">
      <mat-list-option [selected]="field_option.selected"
        *ngFor="let field_option of CFields.values[cfield_key].field_options" [value]="field_option.value"
        class="b-1 m-b-12 view-border-radius--30">
        {{ field_option.label }}
      </mat-list-option>

      <mat-error *ngIf="CFields.values[cfield_key].field_form_control.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-selection-list>
  </div>

</div>