<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title> {{ FocusedMForm._id != "" ? FocusedMForm.CFields.values['form_label']['field_value'] : '' }}
    </mat-card-title>

    <mat-card-subtitle>
      <p>Attached Forms</p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-card *ngFor="let SeekFForm of FForms" appearance="outlined">
      <mat-card-content>
        <a mat-stroked-button color="warn" class="view-button view-float--right"
          (click)="removeSelected(SeekFForm._id)">
          Remove
        </a>

        <a mat-stroked-button color="primary" class="view-button view-float--right"
          [routerLink]="['/mform_forms/modify']" (click)="awareness.setFocused('fform', SeekFForm._id)">
          Edit
        </a>

        <p class="view-text--size-large">
          {{ SeekFForm.CFields.values['form_index']['field_value'] }}.
          {{ SeekFForm.CFields.values['form_label']['field_value'] }}
          ({{ SeekFForm.CFields.values['form_name']['field_value'] }})
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title> Available Forms </mat-card-title>
    <mat-card-subtitle>
      <p>Attach forms from below to the <strong>{{ FocusedMForm._id != "" ?
          FocusedMForm.CFields.values['form_label']['field_value'] : '' }}</strong> form.</p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-card *ngFor="let SeekMForm of MForms" appearance="outlined">
      <mat-card-content>
        <a mat-stroked-button color="primary" class="view-button view-float--right" (click)="attachMForm(SeekMForm)">
          Attach
        </a>

        <p class="view-text--size-large">
          {{ SeekMForm.CFields.values['form_label']['field_value'] }}
          ({{ SeekMForm.CFields.values['form_name']['field_value'] }})
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>