<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>
      <h3>Form Field</h3>
    </mat-card-title>

    <mat-card-subtitle>
      <p>Edit</p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="m-t-30" name="form_user" id="form_ffield_modify" #ModifyMField="ngForm" (ngSubmit)="submitInstance()">
      <app-cfields [CFields]="FocusedFField.CFields"></app-cfields>

      <div class="view-align--right">
        <i-tabler *ngIf="FocusedFField._action_result" class="view-icon--inline view-color--green"
          name="circle-check-filled"></i-tabler>

        <mat-spinner *ngIf="FocusedFField._processing" class="view-spinner--inline"></mat-spinner>

        <button type="submit" mat-flat-button color="primary" class="view-button">
          Update
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>