<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>
      <h3>
        {{ UserInstance.user_name }}
      </h3>
    </mat-card-title>

    <mat-card-subtitle>
      <p>
        Edit Password
      </p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="m-t-30" name="form_user" id="form_user_modify" #ModifyUser="ngForm" (ngSubmit)="submitInstance()">
      <!-- Password -->
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput [formControl]="UserFormControls['user_password']" [(ngModel)]="user_password"
          [type]="hide_password ? 'password' : 'text'" />
        <img matSuffix (click)="hide_password = !hide_password"
          src="{{hide_password ? 'assets/images/icons/icon-eye-invisible--black.png' : 'assets/images/icons/icon-eye-visible--black.png'}}"
          alt="" class="view-icon--image" />

        <mat-error
          *ngIf="UserFormControls['user_password'].errors?.['pattern'] || UserFormControls['user_password'].errors?.['required']">
          <label>Your password must be atleast 8 characters long and meet the following conditions</label>
          <ul>
            <li>Cannot contain white spaces</li>
            <li>Have atleast one number</li>
            <li>Have atleast one uppercase letter</li>
            <li>Have atleast one lowercase letter</li>
            <li>Have atleast one special character e.g. @$!%*#?&^_-</li>
          </ul>
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Confirm Password</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput [formControl]="UserFormControls['user_password_confirm']" [(ngModel)]="user_password_confirm"
          [type]="hide_password ? 'password' : 'text'" />
        <img matSuffix (click)="hide_password = !hide_password"
          src="{{hide_password ? 'assets/images/icons/icon-eye-invisible--black.png' : 'assets/images/icons/icon-eye-visible--black.png'}}"
          alt="" class="view-icon--image" />

        <mat-error *ngIf="UserFormControls['user_password_confirm'].hasError('required')">
          <strong>Required</strong>
        </mat-error>

        <mat-error *ngIf='user_password_matched'>
          Passwords do not match
        </mat-error>
      </mat-form-field>

      <div class="view-align--right">
        <button type="submit" mat-flat-button color="primary">
          Update
        </button>

        <span class="flex-1-auto"></span>

        <mat-spinner *ngIf="UserInstance.MStatus.ms_processing" class="view-spinner--inline"></mat-spinner>

        <i-tabler *ngIf="UserInstance.MStatus.ms_action_result" class="view-icon--inline view-color--green"
          name="circle-check-filled"></i-tabler>
      </div>
    </form>
  </mat-card-content>
</mat-card>