<div class="welcome-container">
  <span style="font-size: 64px; display: inline-block;" >
      Surveillance Health Information Exchange and Linkage Module
  </span>


  <span style="">
  <img  alt="Your Image"  class="right-aligned-image" src="https://s3-alpha-sig.figma.com/img/dcb9/81b1/d726f2d7900682525c135212275b46a8?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HYp3tlNTCNPRpAzVIGCS31sEYufuDSt~-jQLWJ6zPSt9yPN3wge4fauzp~anupR2f0Wp~sA7gyMCFTpFjRRW162IuVwIYiZzCXgdZG1cPdxWf7lX2DklLP0xFEMzie5gFPWZKSdXdFZmhZfUQ8SUECAo9ZWdKI1tImd3jSYS7-mX9vgKIqJBcSiLYCWQ32GK7xTR6ox2tll8QIYuagpd4Tpn6Viw1knqfEg1nKHMu599n1nMaa6JOgUzdXeiTcIR37gSQSo8Wlo7f~jnpzP1Bz2dQFt2CVVxTcHXS7y6YZvkY~9pUn7MG~27xGA15O6OcnRYZRAqFDa4AGuKyMXpNw__">

  </span>
</div>

