<section style="display: flex; width: 100%; align-items: center;min-height: 20vh; width: 90%; margin: auto;">

  <div style="width: 50%;">
    <div>
      <h1
        style="color: #333; /* Heading 1 */ font-family: Lato; font-size: 64px; font-style: normal; font-weight: 700; line-height: 76px; /* 118.75% */">
        Surveillance Health Information Exchange and Linkage Module
      </h1>
    </div>
    <p
      style="color: var(--Primary-Cetacean-Blue, #03062C); /* Heading 3 */ font-family: Lato; font-size: 26px; font-style: normal; font-weight: 400; line-height: 32px; /* 123.077% */">
      Your one stop shop for everything Disease Surveillance .</p>
    <div style="display: flex; align-items: center; gap: 50px;">
      <a href="sign-in.html" style="text-decoration: none; cursor: pointer;">
        <button
          style="display: flex; width: 122px; height: 39px; padding: 0px 25px;  justify-content: center; align-items: center; gap: 10px; flex-shrink: 0; border-radius: 8px; background: var(--Accent-Orange, #FFA500); border: 0; color: white; font-weight: 700; font-size: large;">Sign
          In</button>
      </a>
      <p
        style="color: var(--Primary-Cetacean-Blue, #03062C); font-family: Lato; font-size: 18px; font-style: normal; font-weight: 700; line-height: 32px; text-align: start;">
        <a style="font-size: 18px; font-style: normal; font-weight: 700; line-height: 32px; text-decoration: none; font-size: large; color: #03062C; text-align: center; display: flex; align-items: center;"
           href="#dashboard">View
          Dashboards<span
            style="width: 16px; height: 16px; margin-left: 5px;  flex-shrink: 0; background-color: whitesmoke; padding: 2px; border-radius: 16px; display: flex; align-items: center; justify-content: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                    <path
                      d="M8.42857 0.428589L7.01857 1.83859L12.5986 7.42859H0.428574L0.428574 9.42859H12.5986L7.00857 15.0086L8.42857 16.4286L16.4286 8.42859L8.42857 0.428589Z"
                      fill="#03062C" />
                  </svg>
                </span></a>
      </p>
    </div>
  </div>



  <span style="">
  <img  alt="Your Image"  class="right-aligned-image" src="https://s3-alpha-sig.figma.com/img/dcb9/81b1/d726f2d7900682525c135212275b46a8?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HYp3tlNTCNPRpAzVIGCS31sEYufuDSt~-jQLWJ6zPSt9yPN3wge4fauzp~anupR2f0Wp~sA7gyMCFTpFjRRW162IuVwIYiZzCXgdZG1cPdxWf7lX2DklLP0xFEMzie5gFPWZKSdXdFZmhZfUQ8SUECAo9ZWdKI1tImd3jSYS7-mX9vgKIqJBcSiLYCWQ32GK7xTR6ox2tll8QIYuagpd4Tpn6Viw1knqfEg1nKHMu599n1nMaa6JOgUzdXeiTcIR37gSQSo8Wlo7f~jnpzP1Bz2dQFt2CVVxTcHXS7y6YZvkY~9pUn7MG~27xGA15O6OcnRYZRAqFDa4AGuKyMXpNw__">

  </span>
</section>

